<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel do Administrador</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <%- include('partials/header') %> <!-- Inclui o header com a navegação -->
    <div class="container mt-5">
        <h1>Painel do Administrador</h1>
        <p>Bem-vindo ao painel do administrador. Aqui você pode gerenciar as instituições de caridade e outras funcionalidades.</p>
        
        <ul>
            <li><a href="/charity-form">Cadastrar Instituição de Caridade</a></li>
            <li><a href="/charities">Listar Instituições de Caridade</a></li>
            <!-- Outras funcionalidades que você deseja incluir -->
        </ul>
    </div>
</body>
</html>
